<button mat-stroked-button (click)="addMovie()">
  <mat-icon>add</mat-icon>
  Add a movie
</button>

<app-generic-list [elements]="movies">
  <ng-container content>
    @for (movie of movies; track $index) {
    <div class="movies-container">
      <div>
        @if(movie.poster){
        <img [src]="movie.poster" alt="Image for movie" width="169" height="250">
        } @else {
        <img src="default.jpg" alt="Image for movie" width="169" height="250">
        }
      </div>
      <div>
        <h2>
          {{$index + 1}}) Movie: <b>{{movie.title | uppercase}}</b>
        </h2>
        <div>
          Release Date: {{movie.releaseDate | date: "MM-dd-yyyy" | uppercase}}
        </div>
        <div>
          Price: {{movie.price | currency}}
        </div>
        <div>
          <button mat-flat-button (click)="removeMovie(movie)">Remove</button>
        </div>
      </div>
    </div>
    }
  </ng-container>
</app-generic-list>